<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216997426714-qevagk4ovdp8tftgjb2atlh6ljplrqtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216997426714-qevagk4ovdp8tftgjb2atlh6ljplrqtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>216997426714-9rqahe5ghtjqk9ep88c1clc7n82hc0ta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCA45BrmCHhinO94VILzBZlkVlV5mnZ-Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>216997426714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.livroandroid.carros</string>
	<key>PROJECT_ID</key>
	<string>carros-f177d</string>
	<key>STORAGE_BUCKET</key>
	<string>carros-f177d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216997426714:ios:cc337c3d126e9d00</string>
	<key>DATABASE_URL</key>
	<string>https://carros-f177d.firebaseio.com</string>
</dict>
</plist>